.App {
  text-align: center;
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

.buttons-wrapper {
  position: fixed;
  left: 1.9rem;
  bottom: 8rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.buttons-wrapper.open {
  animation: slide-up 0.2s forwards;
}

.buttons-wrapper.closing {
  animation: slide-down 0.2s forwards ease-in-out;
}
